{% extends "base_form_template.html" %}

{% block title %}m:ci Page not found{% endblock %}

{% block brand %}<a class="brand" href="{% url home %}">m:ci</a>{% endblock %}

{% block navbar %}				
	<li><a href="{% url password_view %}">Password</a></li>
	<li><a href="{% url logout_view %}">Logout</a></li>
{% endblock %}

{% block content %}
	<br />
	<h1>Page not found (404)</h1>
	<hr />
	<p>The page you requested was not found.</p>
	<p>You are sure the URL is correct and the page has to exist? Contact us <a href="mailto:tobias.hauck@iao.fraunhofer.de">here</a>.</p>
{% endblock %}