{% extends "formular_base_template.html" %}
{% load custom_filters %}

{% block title %}{{ bestpractice.bp_name }} Impacts{% endblock %}

{% block navigation %}
	<ul class="breadcrumb">
		<li><a href ="{% url bestpractice_add city_id=city.id bestpractice_id=bestpractice.id %}">{{ bestpractice.bp_name }}</a><span class="divider">/</span></li>
		<li><a href ="{% url bestpractice_description city_id=city.id bestpractice_id=bestpractice.id %}">Description Level</a><span class="divider">/</span></li>
		<li><a href ="{% url bestpractice_detail city_id=city.id bestpractice_id=bestpractice.id %}">Detail Level</a><span class="divider">/</span></li>
		<li class="active">Impact Level<span class="divider">/</span></li>
		<li><a href = "{% url impactfactor city_id=city.id bestpractice_id=bestpractice.id %}">Impact Factors</a>
	</ul>
{% endblock %}
	
{% block level_header %}
{% endblock %}

{% block formular %}

	<form enctype="multipart/form-data" action="" method="post">{% csrf_token %} 
		{{ varformset.management_form }}
		{{ vardefformset.management_form }}
  		{{ comment_formset.management_form }}
		
		<div style="display:none">
			{% for form in comment_formset %}
				{{ form.id }}
			{% endfor %}
		</div>
		
		<!-- check for errors -->
		{% if varformset.errors or vardefformset.errors %}
			<p class="text-error">Please correct the Errors below!</p>	
		{% endif %}
		
		<h1>Impact Level</h1>
		
		<br />
		<h2>9. Economic contribution</h2>
		<hr />
		
		<!-- print form -->
		<div class="fields">
			{% for form in varformset %}
		 		{% if form.instance.bp_vars_def_id.category == 9 %}
					<fieldset>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
					
						{% for field in form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
								<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
						    	{% if field.field|klass == "BooleanField" %}
						    		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
									
									<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
								{% else %}
									<div class="control-group">
										{% if field.is_hidden %}
										{% else %}
											<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
										{% endif %}							    
										<div class="controls">
									   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
								    			<label class="checkbox">
									   				{{ field }}
												</label>
								    		{% else %}
												{{ field }}
								    		{% endif %}
								    		
								    		<span class="help-inline">
												<div class="tooltipClass">
													<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
													<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
												</div>
											</span>
								    	</div>
									</div>
								{% endif %}
							{% endif %}
							
							<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>							
						{% endfor %}
					</fieldset>
		 		{% endif %}
			{% endfor %}
			
			<!-- new var_def fields will be added to this div -->
			<div id="addVarDef9">
			</div>

			<!-- add-button -->
			<div class="add9">
	   			<input type="button" class="btn" onClick="newVarDef('9');" name="addVar9" value="+" />
			</div>
		</div>
		
		<br />		
		<h2>10. Ecologic contribution</h2>
		<hr />
		
		<!-- print form -->
		<div class="fields">
			{% for form in varformset %}
		 		{% if form.instance.bp_vars_def_id.category == 10 %}
					<fieldset>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
					
						{% for field in form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
								<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
						    	{% if field.field|klass == "BooleanField" %}
						    		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
									
									<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
								{% else %}
									<div class="control-group">
										{% if field.is_hidden %}
										{% else %}
											<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
										{% endif %}							    
										<div class="controls">
									   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
								    			<label class="checkbox">
									   				{{ field }}
												</label>
								    		{% else %}
												{{ field }}
								    		{% endif %}
								    		
								    		<span class="help-inline">
												<div class="tooltipClass">
													<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
													<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
												</div>
											</span>
								    	</div>
									</div>
								{% endif %}
							{% endif %}
							
							<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					</fieldset>
		 		{% endif %}
			{% endfor %}
			
			<!-- new var_def fields will be added to this div -->
			<div id="addVarDef10">
			</div>

			<!-- add-button -->
			<div class="add10">
	   			<input type="button" class="btn" onClick="newVarDef('10');" name="addVar10" value="+" />
			</div>
		</div>

		<br />
		<h2>11. Social Contribution</h2>
		<hr />
		
		<!-- print forms -->
		<div class="fields">
			{% for form in varformset %}
		 		{% if form.instance.bp_vars_def_id.category == 11 %}
					<fieldset>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
					
						{% for field in form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
								<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
						    	{% if field.field|klass == "BooleanField" %}
						    		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
									
									<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
								{% else %}
									<div class="control-group">
										{% if field.is_hidden %}
										{% else %}
											<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
										{% endif %}							    
										<div class="controls">
									   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
								    			<label class="checkbox">
									   				{{ field }}
												</label>
								    		{% else %}
												{{ field }}
								    		{% endif %}
								    		
								    		<span class="help-inline">
												<div class="tooltipClass">
													<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
													<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
												</div>
											</span>
								    	</div>
									</div>
								{% endif %}
							{% endif %}
							
							<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					</fieldset>
		 		{% endif %}
			{% endfor %}
			
			<!-- new var_def fields will be added to this div -->
			<div id="addVarDef11">
			</div>

			<!-- add-button -->
			<div class="add11">
	   			<input type="button" class="btn" onClick="newVarDef('11');" name="addVar11" value="+" />
			</div>
		</div>
	
		<br />			
		<h2>12. Contribution to urban resilience</h2>
		<hr />
			
		<div class="fields">
			{% for form in varformset %}
		 		{% if form.instance.bp_vars_def_id.category == 12 %}
					<fieldset>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
					
						{% for field in form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
								<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
						    	{% if field.field|klass == "BooleanField" %}
						    		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
									
									<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
								{% else %}
									<div class="control-group">
										{% if field.is_hidden %}
										{% else %}
											<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
										{% endif %}							    
										<div class="controls">
									   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
								    			<label class="checkbox">
									   				{{ field }}
												</label>
								    		{% else %}
												{{ field }}
								    		{% endif %}
								    		
								    		<span class="help-inline">
												<div class="tooltipClass">
													<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
													<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
												</div>
											</span>
								    	</div>
									</div>
								{% endif %}
							{% endif %}
							
							<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					</fieldset>
		 		{% endif %}
			{% endfor %}
			
			<!-- new var_def fields will be added to this div -->
			<div id="addVarDef12">
			</div>

			<!-- add-button -->
			<div class="add12">
	   			<input type="button" class="btn" onClick="newVarDef('12');" name="addVar12" value="+" />
			</div>			
		</div>
	
		<hr />
   		
   		<input class="btn btn-primary" type="submit" onClick="submitFormOkay=true;" value="Save and Continue" />
{% endblock %}