{% extends "formular_base_template.html" %}
{% load custom_filters %}

{% block title %}{{ bestpractice.bp_name }} Description{% endblock %}
					
{% block navigation %}
	<ul class="breadcrumb">
		<li><a href ="{% url bestpractice_add city_id=city.id bestpractice_id=bestpractice.id %}">{{ bestpractice.bp_name }}</a><span class="divider">/</span></li>
		<li class="active">Description Level<span class="divider">/</span></li>
		<li><a href ="{% url bestpractice_detail city_id=city.id bestpractice_id=bestpractice.id %}">Detail Level</a><span class="divider">/</span></li>
		<li><a href ="{% url bestpractice_impact city_id=city.id bestpractice_id=bestpractice.id %}">Impact Level</a><span class="divider">/</span></li>
		<li><a href = "{% url impactfactor city_id=city.id bestpractice_id=bestpractice.id %}">Impact Factors</a></li>
	</ul>
{% endblock %}


{% block formular %}

	<h1>Description Level</h1>
	
	<form enctype="multipart/form-data" action="" method="post">{% csrf_token %} 
		{{ varformset.management_form }}
		{{ vardefformset.management_form }}
	  	{{ milestoneformset.management_form }}
	  	{{ criteriaformset.management_form }}
	  	{{ criteriadataformset.management_form }}
	  	{{ comment_formset.management_form }}
	  	
		<div style="display:none">
			{% for form in comment_formset %}
				{{ form.id }}
			{% endfor %}
		</div>
	  	
	  	{% if varformset.errors or milestoneformset.errors or criteriaformset.errors or criteriadataformset.errors or vardefformset.errors %}
			<p class="text-error">Please correct the Errors below!</p>	
		{% endif %}
	    
	    <br />
	    
		<h2>1. Status Quo</h2>
		<hr />
			
		<div class="fields">
			{% for form in varformset %}
				{% if form.instance.bp_vars_def_id.category == 1 %}
					<fieldset>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}

						{% for field in form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
									<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
						    	{% if field.field|klass == "BooleanField" %}
						    		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
									
						    		<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
								{% else %}
									<div class="control-group">
									    <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
									    <div class="controls">
									    	{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
								    			<label class="checkbox">
									    			{{ field }}
												</label>
								    		{% else %}
												{{ field }}
								    		{% endif %}
											<span class="help-inline">
												<div class="tooltipClass">
													<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
													<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
												</div>
											</span>
								    	</div>
								    </div>
								{% endif %}
							{% endif %}
							
							
							<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
							<br />
						{% endfor %}
	   				</fieldset>
				{% endif %}
			{% endfor %}
			
			<!-- new var_def fields will be added to this div -->
			<div id="addVarDef1">
			</div>

			<!-- add-button -->
			<div class="add1">
	   			<input type="button" class="btn" onClick="newVarDef('1');" name="addVar1" value="+" />
			</div>
					
		</div>
				
				
		<br />
		<h3>BP Milestones</h3>
				
		<div class='milestoneform_set'>
			{% for form in milestoneformset.forms %}
				<strong>{{ forloop.counter }}. Milestone</strong>
					<fieldset>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}

						{% for field in form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
									<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
							   	{% if field.field|klass == "BooleanField" %}
							   		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
									
						    		<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
								{% else %}
									<div class="control-group">
										{% if field.is_hidden %}
										{% else %}
											<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
										{% endif %}										    
										<div class="controls">
										    {% if field.field.widget|klass == "CheckboxSelectMultiple" %}
									    		<label class="checkbox">
										    		{{ field }}
												</label>
									    	{% else %}
												{{ field }}
									    	{% endif %}
	   							    		<span class="help-inline">
												<div class="tooltipClass">
													<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
												</div>
											</span>
								   	 	</div>
									</div>
								{% endif %}
							{% endif %}
							<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
		   			</fieldset>
			{% endfor %}
					
			<div class="extra_milestoneform">
			</div>
						
			<input class="btn" type="button" id="add_more" value="Add Empty" />
				
			<div class="empty_form" style="display:none">
		        <fieldset>
					{% for field in milestoneformset.empty_form %}
						{% if field.errors %}
							<div class="control-group error">
								<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
								<div class="controls">
									{{ field }}
									<span class="help-inline">{{ field.errors.0 }}</span>
								</div>
							</div>
						{% else %}
					    	{% if field.field|klass == "BooleanField" %}
					    		<label class="checkbox">
									{{ field.label }}
									{{ field }}
								</label>
							{% else %}
								<div class="control-group">
									{% if field.is_hidden %}
								    {% else %}
								    	<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
								    {% endif %}
								    <div class="controls">
								    	{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
							    			<label class="checkbox">
								    			{{ field }}
											</label>
							    		{% else %}
											{{ field }}
							    		{% endif %}
							    	</div>
							    </div>
							{% endif %}
						{% endif %}
					{% endfor %}
	   			</fieldset>
			</div>
		
			<script>
				$('#add_more').click(function() {
					var form_idx = $('#id_milestone-TOTAL_FORMS').val();
					$('.extra_milestoneform').append('<br /><strong>'+(parseInt(form_idx)+1)+'. Milestone</strong>');
					$('.extra_milestoneform').append($('.empty_form').html().replace(/__prefix__/g, form_idx));
					$('#id_milestone-TOTAL_FORMS').val(parseInt(form_idx) + 1);
				});
			</script>
		</div>
    	
    	<br />
    	
		<h2>2. Entwicklungsdynamik</h2>
		<hr />
		
		<div class="fields">
			{% for form in varformset %}
				{% if form.instance.bp_vars_def_id.category == 2 %}
					<fieldset>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}

						{% for field in form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
									<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
						    	{% if field.field|klass == "BooleanField" %}
						    		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
									
									<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
								{% else %}
									<div class="control-group">
									    <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
									    <div class="controls">
									    	{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
								    			<label class="checkbox">
									    			{{ field }}
												</label>
								    		{% else %}
												{{ field }}
								    		{% endif %}
											<span class="help-inline">
												<div class="tooltipClass">
													<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
													<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
												</div>
											</span>
								    	</div>
								    </div>
								{% endif %}
							{% endif %}
							<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
							<br />
						{% endfor %}
		   			</fieldset>
				{% endif %}
			{% endfor %}
					
			<!-- new var_def fields will be added to this div -->
			<div id="addVarDef2">
			</div>

			<!-- add-button -->
			<div class="add2">
	   			<input type="button" class="btn" onClick="newVarDef('2');" name="addVar2" value="+" />
			</div>
						
		</div>
    	
    	<br />
	    
		<h2>3. Erfolgskontrolle</h2>
		<hr />
		
		{% for form in varformset %}
			{% if form.instance.bp_vars_def_id.category == 3 %}
				<fieldset>
					{% for field in form.hidden_fields %}
						{{ field }}
					{% endfor %}

					{% for field in form.visible_fields %}
						{% if field.errors %}
							<div class="control-group error">
								<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
							<div class="controls">
									{{ field }}
									<span class="help-inline">{{ field.errors.0 }}</span>
								</div>
						</div>
						{% else %}
					    	{% if field.field|klass == "BooleanField" %}
					    		<label class="checkbox">
								{{ field.label }}
									{{ field }}
								</label>
								
								<span class="help-inline">
									<div class="tooltipClass">
										<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
									</div>
								</span>
							{% else %}
								<div class="control-group">
									{% if field.is_hidden %}
								    {% else %}
								    	<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
								    {% endif %}									    
								    <div class="controls">
								    	{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
							    			<label class="checkbox">
								    			{{ field }}
											</label>
							    		{% else %}
											{{ field }}
							    		{% endif %}
										<span class="help-inline">
											<div class="tooltipClass">
												<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
												<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
											</div>
										</span>
							    	</div>
							    </div>
							{% endif %}
						{% endif %}
						
						
						<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						<br />
					{% endfor %}
				</fieldset>
			 {% endif %}
		{% endfor %}
				
		<!-- new var_def fields will be added to this div -->
		<div id="addVarDef3">
		</div>

		<!-- add-button -->
		<div class="add3">
   			<input type="button" class="btn" onClick="newVarDef('3');" name="addVar3" value="+" />
		</div>
			
		{% for form in criteriaformset %}
			<br />
			<h3>
				{{ forloop.counter }}. Erfolgskriterium
				{% if forloop.counter > 1 %}
					(optional)
				{% endif %}
			</h3>
		
			<fieldset>
				{% for field in form.hidden_fields %}
					{{ field }}
				{% endfor %}
			
				{% for field in form.visible_fields %}
					{% if field.errors %}
						<div class="control-group error">
						<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
							<div class="controls">
								{{ field }}
								<span class="help-inline">{{ field.errors.0 }}</span>
							</div>
						</div>
					{% else %}
				    	{% if field.field|klass == "BooleanField" %}
				    		<label class="checkbox">
								{{ field.label }}
								{{ field }}
							</label>
							
				    		<span class="help-inline">
								<div class="tooltipClass">
									<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
								</div>
							</span>
						{% else %}
							<div class="control-group">
								{% if field.is_hidden %}
								{% else %}
									<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
								{% endif %}							    
								<div class="controls">
							   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
						    			<label class="checkbox">
							   				{{ field }}
										</label>
						    		{% else %}
										{{ field }}
						    		{% endif %}
						    		<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
						    	</div>
							</div>
						{% endif %}
					{% endif %}
					
					<!-- comment section -->
				    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
						{% for comment_form in comment_formset %}
							{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
								{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
									<!-- if the field belongs to the form -->
									<!-- draw the comment-form -->
									{% for field in comment_form.hidden_fields %}
										{{ field }}
									{% endfor %}
									
									{% for field in comment_form.visible_fields %}
										<div class="control-group">
											{% if field.is_hidden %}
											{% else %}
												<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
											{% endif %}							    
											<div class="controls">
												{{ field }}
											</div>
										</div>
									{% endfor %}
									<!-- end of drawing -->
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
			</fieldset>
				
			<div class='criteriadataform_set'>
				{% for dataform in criteriadataformset %}
					{% if dataform.number.value|to_int == form.instance.id|to_int or dataform.instance.bp_criteria_id == form.instance %}
						<strong>t={{ dataform.instance.criteria_count }}:</strong>
						<fieldset>
							{% for field in dataform.hidden_fields %}
								{{ field }}
							{% endfor %}
						
							{% for field in dataform.visible_fields %}
								{% if field.errors %}
									<div class="control-group error">
									<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
										<div class="controls">
											{{ field }}
											<span class="help-inline">{{ field.errors.0 }}</span>
										</div>
									</div>
								{% else %}
							    	{% if field.field|klass == "BooleanField" %}
							    		<label class="checkbox">
											{{ field.label }}
											{{ field }}
										</label>
										
							    		<span class="help-inline">
											<div class="tooltipClass">
												<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
											</div>
										</span>
									{% else %}
										<div class="control-group">
											{% if field.is_hidden %}
											{% else %}
												<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
											{% endif %}							    
											<div class="controls">
										   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
									    			<label class="checkbox">
										   				{{ field }}
													</label>
									    		{% else %}
													{{ field }}
									    		{% endif %}
    								    		<span class="help-inline">
													<div class="tooltipClass">
														<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
													</div>
												</span>
									    	</div>
										</div>
									{% endif %}
								{% endif %}
								
								<!-- comment section -->
							    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
									{% for comment_form in comment_formset %}
										{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}	
											{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
												<!-- if the field belongs to the form -->
												<!-- draw the comment-form -->
												{% for field in comment_form.hidden_fields %}
													{{ field }}
												{% endfor %}
												
												{% for field in comment_form.visible_fields %}
													<div class="control-group">
														{% if field.is_hidden %}
														{% else %}
															<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
														{% endif %}							    
														<div class="controls">
															{{ field }}
														</div>
													</div>
												{% endfor %}
												<!-- end of drawing -->
											{% endif %}
										{% endif %}
									{% endfor %}
								</div>
							{% endfor %}
						</fieldset>
					{% endif %}
				{% endfor %}
			</div>
				
			<div class="extra_criteriadataform{{ forloop.counter }}">
			</div>
				
			<input type="button" class="btn" type="button" id="add_more_criteriadata{{ forloop.counter }}" onClick="addCriteriaData('{{forloop.counter}}')" value="Add Criteria Data" />
			<br />

			<script>
				//get the id's from the forms
	    		if("{{ forloop.counter }}"=="1")
      	           id1 = "{{ form.instance.id }}"
      	        else if ("{{ forloop.counter }}"=="2")
      	           id2 = "{{ form.instance.id }}"
      	        else if ("{{ forloop.counter }}"=="3")
      	           id3 = "{{ form.instance.id }}"
			</script>
		{% endfor %}
		
		<script>
			numDataOfCriteria1=0
			numDataOfCriteria2=0
			numDataOfCriteria3=0
       		
			//get the number of criteria_data belonging to the three
			//existing bp_criteria and save it in numDataOfCriteria
			{% for dataform in criteriadataformset %}
				if(parseInt("{{dataform.instance.criteria_count}}")>numDataOfCriteria1 && parseInt("{{dataform.instance.bp_criteria_id.id}}")==id1){
					numDataOfCriteria1=parseInt("{{dataform.instance.criteria_count}}");
				}
				if(parseInt("{{dataform.instance.criteria_count}}")>numDataOfCriteria2 && parseInt("{{dataform.instance.bp_criteria_id.id}}")==id2){
					numDataOfCriteria2=parseInt("{{dataform.instance.criteria_count}}");
				}
				if(parseInt("{{dataform.instance.criteria_count}}")>numDataOfCriteria3 && parseInt("{{dataform.instance.bp_criteria_id.id}}")==id3){
					numDataOfCriteria3=parseInt("{{dataform.instance.criteria_count}}");
				}
			{% endfor %}
			
			
			//duplicate the form to make it dynamic without reloading
   	        function addCriteriaData(numCriterion){
   	        	//set the correct id depending on which button was pressed
   	        	//also increment the numDataOfCriteria
   	        	if(numCriterion==1){
   	        		id=id1;
   	        		numDataOfCriteria1+=1;
   	        		numDataOfCriteria=numDataOfCriteria1;
   	        	} else if(numCriterion==2){
   	        		id=id2;
   	        		numDataOfCriteria2+=1;
   	        		numDataOfCriteria=numDataOfCriteria2;
   	        	} else if(numCriterion==3){
   	        		id=id3;
   	        		numDataOfCriteria3+=1;
   	        		numDataOfCriteria=numDataOfCriteria3;
   	        	}
   	        	
				//duplicate the code from empty_form to extra_criteriadataform
	   			var form_idx = $('#id_criteria_data-TOTAL_FORMS').val();
		   		$('.extra_criteriadataform'+numCriterion).append('<strong>t='+numDataOfCriteria+':</strong>');
	   			$('.extra_criteriadataform'+numCriterion).append($('.empty_criteriadataform').html().replace(/__prefix__/g, form_idx).replace("name=\"criteria_data-"+form_idx+"-number\"", "name=\"criteria_data-"+form_idx+"-number\" value=\""+id+"\""));
		   		$('.extra_criteriadataform'+numCriterion).append('<br />');
		   		$('#id_criteria_data-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    	    }
		</script>
	    
	    <!-- the empty_criteriadataform, that is going to be duplicated -->
	    <div class="empty_criteriadataform" style="display:none">
			<table class='no_error'>
		  		<fieldset>
					{% for field in criteriadataformset.empty_form.hidden_fields %}
						{{ field }}
					{% endfor %}
				
					{% for field in criteriadataformset.empty_form.visible_fields %}
						{% if field.errors %}
							<div class="control-group error">
							<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
								<div class="controls">
									{{ field }}
									<span class="help-inline">{{ field.errors.0 }}</span>
								</div>
							</div>
						{% else %}
					    	{% if field.field|klass == "BooleanField" %}
					    		<label class="checkbox">
									{{ field.label }}
									{{ field }}
								</label>
							{% else %}
								<div class="control-group">
									{% if field.is_hidden %}
									{% else %}
										<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
									{% endif %}							    
									<div class="controls">
								   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
							    			<label class="checkbox">
								   				{{ field }}
											</label>
							    		{% else %}
											{{ field }}
							    		{% endif %}
							    	</div>
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
				</fieldset>
		   	</table>
		</div>
	    
	    
	    
	    <br />
		<h2>4. Bewertung</h2>
		<hr />
			
		<div class="fields">
			{% for form in varformset %}
		 		{% if form.instance.bp_vars_def_id.category == 4 %}
					<fieldset>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}

						{% for field in form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
									<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
						    	{% if field.field|klass == "BooleanField" %}
						    		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
									<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
								{% else %}
									<div class="control-group">
									    <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
									    <div class="controls">
									    	{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
								    			<label class="checkbox">
									    			{{ field }}
												</label>
								    		{% else %}
												{{ field }}
								    		{% endif %}
											<span class="help-inline">
												<div class="tooltipClass">
													<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
													<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
												</div>
											</span>
								    	</div>
								    </div>
								{% endif %}
							{% endif %}
							
							
							<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
							<br />
						{% endfor %}
		   			</fieldset>
		 		{% endif %}
			{% endfor %}
				
			<!-- new var_def fields will be added to this div -->
			<div id="addVarDef4">
			</div>

			<!-- add-button -->
			<div class="add4">
	   			<input type="button" class="btn" onClick="newVarDef('4');" name="addVar4" value="+" />
			</div>
		</div>
     
	<hr />
   	<input class="btn btn-primary" type="submit" onClick="submitFormOkay=true;" value="Save and Continue" />
{% endblock %}

