{% extends "formular_base_template.html" %}
{% load custom_filters %}


{% block formular %}
	<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyChqBV4DcthfYxAZcqFdcQryv7hznUYovU&sensor=true">
    </script>
	
	<script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng("{{ city.city_lat }}", "{{ city.city_long }}"),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
      }
    </script>
	

	<h1>City Variables</h1>
	<hr />
	

    <div class="row">
	    <div class="span3">
			<strong>Full Name:</strong> {{ city.full_name }}	<br/>
			<strong>ADM1 Code:</strong> {{ city.adm1_code }} <br/>
			<strong>Elevation:</strong> {{ city.elevation }} <br/>
			<strong>Metropolitan Area:</strong> {{ city.metropolitan_area }} <br/>
			<strong>City Latitude:</strong> {{ city.city_lat }} <br/>
			<strong>City Longitude:</strong> {{ city.city_long }} <br/>
			<strong>Difference to UTC:</strong> {{ city.diff_UTC }}
	    </div>
	    
	    <div class="span4 offset2">
		   	<div id="map_canvas" style="width:300px; height:300px"></div>
	    </div>
    </div>

	<form enctype="multipart/form-data" action="" method="post">{% csrf_token %} 
	 	{{ formset.management_form }}
	 	{{ vardefformset.management_form }}
  		{{ comment_formset.management_form }}
		
		<div style="display:none">
			{% for form in comment_formset %}
				{{ form.id }}
			{% endfor %}
		</div>
		
		{% if formset.errors or vardefformset.errors %}
			<p class="text-error">Please correct the Errors below!</p>	
		{% endif %}
		
		<br />
		<h2>Indikatoren</h2>
		<hr />
		<div class="fields">
			{% for form in formset %}
		 		{% if form.instance.city_vars_def_id.category == 1 %}
					<fieldset>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
					
						{% for field in form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
								<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
						    	{% if field.field|klass == "BooleanField" %}
						    		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
									
									<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
								{% else %}
									<div class="control-group">
										{% if field.is_hidden %}
										{% else %}
											<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
										{% endif %}							    
										<div class="controls">
									   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
								    			<label class="checkbox">
									   				{{ field }}
												</label>
								    		{% else %}
												{{ field }}
								    		{% endif %}
								    		<span class="help-inline">
												<div class="tooltipClass">
													<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
													<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
												</div>
											</span>
								    	</div>
									</div>
								{% endif %}
							{% endif %}
							
							<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					</fieldset>
		 		{% endif %}
			{% endfor %}
				
			<!-- new var_def fields will be added to this div -->
			<div id="addVarDef1">
			</div>

			<!-- add-button -->
			<div class="add1">
	   			<input type="button" class="btn" onClick="newVarDef('1');" name="addVar1" value="+" />
			</div>
		</div>
		
		<br />
		
		<h2>Rahmenfaktoren</h2>
		
		<hr />
		<div class="fields">
			{% for form in formset %}
		 		{% if form.instance.city_vars_def_id.category == 2 %}
					<fieldset>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
					
						{% for field in form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
								<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
						    	{% if field.field|klass == "BooleanField" %}
						    		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
									
									<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
								{% else %}
									<div class="control-group">
										{% if field.is_hidden %}
										{% else %}
											<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
										{% endif %}							    
										<div class="controls">
									   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
								    			<label class="checkbox">
									   				{{ field }}
												</label>
								    		{% else %}
												{{ field }}
								    		{% endif %}
	   							    		<span class="help-inline">
												<div class="tooltipClass">
													<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
													<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
												</div>
											</span>
								    	</div>
									</div>
								{% endif %}
							{% endif %}
							
							<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}	
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					</fieldset>
		 		{% endif %}
			{% endfor %}
				
			<!-- new var_def fields will be added to this div -->
			<div id="addVarDef2">
			</div>

			<!-- add-button -->
			<div class="add2">
	   			<input type="button" class="btn" onClick="newVarDef('2');" name="addVar2" value="+" />
			</div>
		</div>
		
		<hr />
		
	  	<input class="btn btn-primary" type="submit" value="Save and Continue" />
{% endblock %}
