{% extends "base_form_template.html" %}

{% block extra_styles %}
	
{% endblock %}

{% block title %}m:ci{% endblock %}

{% block brand %}<a class="brand" href="{% url home %}">m:ci</a>{% endblock %}

{% block navbar %}
	<li class="dropdown">
    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Cities<b class="caret"></b></a>
       		<ul class="dropdown-menu">
       			{% for city in city_list %}
       				<li><a href="{% url city city.id %}">{{ city.city_name }}</a></li>
       			{% endfor %}
            </ul>
	</li>

	<li><a href="{% url password_view %}">Password</a></li>
	<li><a href="{% url logout_view %}">Logout</a></li>
{% endblock %}


{% block content %}
	<!-- The descriptions of the cities - used later -->
	<div id="City_Descriptions" style="display:none">
        <p id="Singapore_desc">	
			Die Republik Singapur ist ein Stadt-Staat und eine Insel zwischen Malaysia und
			Indonesien im süd-osten Asiens. Mit einer Einwohnerzahl von ca. 5,2 Millionen
			Menschen und einer Größe von 710 km² ist die Insel stark besiedelt..<br />
			Forschungseinsatz vor Ort: 6.5. - 17.5.2013
        </p>
       	
    	<p id="Freiburg_desc">
			Freiburg liegt im Südwesten von Baden-Württemberg, im sogenannten Drei-Länder-Eck,
			neben Frankreich und der Schweiz. Die Stadt hat ca. 225 000 Einwoher..<br />
			Forschungseinsatz vor Ort: 11.2. - 22.2.2013
		</p>
       	
    	<p id="New York_desc">
			New York City ist die bevölkerungsreichste Stadt der USA und mit 8,24 Millionen
			Einwohnern auch eine der bevölkerungsreichsten Städte der Welt. Die Metropole liegt
			im Norden der Ostküste der USA und ist die Hauptstadt des Staates New York..<br />
			Forschungseinsatz vor Ort: 8.4. - 23.4.2013
		</p>
    			
    	<p id="Copenhagen_desc">
			Kopenhagen ist die Hauptstadt Dänemarks und mit ca. 550.000 Einwohnern (am 1. Januar
			2012) die bevölkerungsreichste Stadt Dänemarks. Zur Metropolregion Kopenhagens zählt
			ebenfalls die schwedische Stadt Malmö, welche durch eine Brücke mit Kopenhagen
			verbunden ist. Insgesamt hat die Region ca. 1,2 Millionen Einwohner..<br />
			Forschungseinsatz vor Ort: 18.3. - 29.3.2013
       	</p>
	
		<p id="Berlin_desc">
			Berlin ist die Hauptstadt Deutschlands und mit ca. 3,5 Millionen Einwohnern die
			zweitgrößte Stadt der Europäischen Union. Berlin ist als Stadtstaat eines der
			sechzehn Bundesländer Deutschlands..<br />
			Forschungseinsatz vor Ort: 15.4. - 26.4.2013
		</p>
		
		<p id="Tokyo_desc">
			Tokyo ist die Hauptstadt Japans und mit über 13 Millionen Einwohnern die größte
			Stadt des Landes. Zusammen mit seiner Metropolregion ist Tokyo mit ca. 35 Millionen
			Einwohnern die bevölkerungsreichste Metropolregion der Welt.<br />
			Forschungseinsatz vor Ort: 3.6. - 14.6.2013
		</p>
	</div>
       
       
	<div class="container-narrow">
		<!-- headline -->
		<div class="jumbotron">
			<h1>Welcome to Morgenstadt:City Insights!</h1>
			<p class="lead">In order to get started with adding information, select one of the cities below.</p>
		</div>
		
		<!-- list all of the cities with description -->
		<div class="row-fluid marketing">
	        {% for city in city_list %}
	        	{% if forloop.counter0|divisibleby:3 %}
	        		<div class="span6">
	        	{% endif %}
				
				<h4>{{ city.city_name }}</h4>
				<div class="cityBlock">
					<p id="{{ city.city_name }}">
						<script>
							document.getElementById("{{ city.city_name }}").innerHTML = document.getElementById("{{ city.city_name }}_desc").innerHTML
						</script>
					</p>
	
					<a class="btn" href="{% url city city_id=city.id %}">Edit</a>		        		
				</div>
	        	{% if forloop.counter|divisibleby:3 %}
	        		</div>
	        	{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}