{% extends "formular_base_template.html" %}
{% load custom_filters %}

{% block title %}{{ impactfactor.impact_factor_name }} Information{% endblock %}

{% block navigation %}
	<ul class="breadcrumb">
		<li><a href ="{% url bestpractice_add city_id=city.id bestpractice_id=bestpractice.id %}">{{ bestpractice.bp_name }}</a><span class="divider">/</span></li>
		<li><a href ="{% url bestpractice_description city_id=city.id bestpractice_id=bestpractice.id %}">Description Level</a><span class="divider">/</span></li>
		<li><a href ="{% url bestpractice_detail city_id=city.id bestpractice_id=bestpractice.id %}">Detail Level</a><span class="divider">/</span></li>
		<li><a href ="{% url bestpractice_impact city_id=city.id bestpractice_id=bestpractice.id %}">Impact Level</a><span class="divider">/</span></li>
		<li><a href ="{% url impactfactor city_id=city.id bestpractice_id=bestpractice.id %}">Impact Factors</a><span class="divider">/</span></li>
		<li><a href ="{% url impactfactor_add city_id=city.id bestpractice_id=bestpractice.id impactfactor_id=impactfactor.id %}">{{ impactfactor.impact_factor_name }}</a><span class="divider">/</span></li>
		<li class="active">Information</li>
	</ul>
{% endblock %}
	
{% block formular %}
  	<form enctype="multipart/form-data" action="" method="post">{% csrf_token %} 
  		{{ varformset.management_form }}
  		{{ vardefformset.management_form }}
  		{{ bpformset.management_form }}
  		{{ relformset.management_form }}
  		{{ sectformset.management_form }}
  		{{ comment_formset.management_form }}
  		
  		<div style="display:none">
			{% for form in comment_formset %}
				{{ form.id }}
			{% endfor %}
		</div>
  		
  		{% if varformset.errors or vardefformset.errors or bpformset.errors or relformset.errors or sectformset.errors %}
			<p class="text-error">Please correct the Errors below!</p>	
		{% endif %}

		<h1>Impact Factor Information</h1>
		
		<br />
		<h2>Description Level</h2>
		<hr />
		
		<h4>A</h4>
		
		<div class="fields">
			{% for form in varformset %}
			 	{% if form.instance.impact_factor_vars_def_id.category == 1 %}
					<fieldset>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
						
						{% for field in form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
								<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
						    	{% if field.field|klass == "BooleanField" %}
							   		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
									
									<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
								{% else %}
									<div class="control-group">
										{% if field.is_hidden %}
										{% else %}
											<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
										{% endif %}							    
										<div class="controls">
									   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
								    			<label class="checkbox">
									   				{{ field }}
												</label>
								    		{% else %}
												{{ field }}
								    		{% endif %}
								    		<span class="help-inline">
												<div class="tooltipClass">
													<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
													<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
												</div>
											</span>
								    	</div>
									</div>
								{% endif %}
							{% endif %}
							
							<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					</fieldset>
			 	{% endif %}
			{% endfor %}
				
			<!-- new var_def fields will be added to this div -->
			<div id="addVarDef1">
			</div>

			<!-- add-button -->
			<div class="add1">
	   			<input type="button" class="btn" onClick="newVarDef('1');" name="addVar1" value="+" />
			</div>
		</div>
	  	
	  	<br />
		<h4>B</h4>
		
		<div class ="fields">
			{% for form in varformset %}
				{% if form.instance.impact_factor_vars_def_id.category == 2 %}
					<fieldset>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
						
						{% for field in form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
								<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
						    	{% if field.field|klass == "BooleanField" %}
							   		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
									
									<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
								{% else %}
									<div class="control-group">
										{% if field.is_hidden %}
										{% else %}
											<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
										{% endif %}							    
										<div class="controls">
									   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
								    			<label class="checkbox">
									   				{{ field }}
												</label>
								    		{% else %}
												{{ field }}
								    		{% endif %}
								    		<span class="help-inline">
												<div class="tooltipClass">
													<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
													<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
												</div>
											</span>
								    	</div>
									</div>
								{% endif %}
							{% endif %}
							
							<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					</fieldset>
				{% endif %}
			{% endfor %}
				
			<!-- new var_def fields will be added to this div -->
			<div id="addVarDef2">
			</div>

			<!-- add-button -->
			<div class="add2">
	   			<input type="button" class="btn" onClick="newVarDef('2');" name="addVar2" value="+" />
			</div>
		</div>
		
		<br />
		<h4>C</h4>
		
		<div class="fields">
			{% for form in varformset %}
				{% if form.instance.impact_factor_vars_def_id.category == 3 %}
					<fieldset>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
						
						{% for field in form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
								<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
						    	{% if field.field|klass == "BooleanField" %}
							   		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
									
									<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
								{% else %}
									<div class="control-group">
										{% if field.is_hidden %}
										{% else %}
											<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
										{% endif %}							    
										<div class="controls">
									   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
								    			<label class="checkbox">
									   				{{ field }}
												</label>
								    		{% else %}
												{{ field }}
								    		{% endif %}
								    		<span class="help-inline">
												<div class="tooltipClass">
													<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
													<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
												</div>
											</span>
								    	</div>
									</div>
								{% endif %}
							{% endif %}
							
							<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					</fieldset>
				{% endif %}
			{% endfor %}
				
			<!-- new var_def fields will be added to this div -->
			<div id="addVarDef3">
			</div>

			<!-- add-button -->
			<div class="add3">
	   			<input type="button" class="btn" onClick="newVarDef('3');" name="addVar3" value="+" />
			</div>
		</div>
	
		
		<br />		
		<h2>Application Level</h2>
		<hr />
		
		<h4>Impact Factor in relation to other BPs</h4>
		
		{% if bpformset.0 %}
			<div class="fields">
				{% for form in bpformset %}
					<fieldset>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
						
						{% for field in form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
								<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
						    	{% if field.field|klass == "BooleanField" %}
							   		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
									
									<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
								{% else %}
									<div class="control-group">
										{% if field.is_hidden %}
										{% else %}
											<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
										{% endif %}							    
										<div class="controls">
									   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
								    			<label class="checkbox">
									   				{{ field }}
												</label>
								    		{% else %}
												{{ field }}
								    		{% endif %}
								    		<span class="help-inline">
												<div class="tooltipClass">
													<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
													<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
												</div>
											</span>
								    	</div>
									</div>
								{% endif %}
							{% endif %}
							
							<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					</fieldset>
				{% endfor %}
			</div>
		{% else %}
			<p>There are currently no other Best Practices defined.</p>
		{% endif %}
		<br />
		
		<h4>Impact Factor in relation to other Impact Factors</h4>
			
		<div class="fields">		
			{% if relformset.0 %}
				{% for form in relformset %}
			    	<fieldset>
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
						
						{% for field in form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
								<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
						    	{% if field.field|klass == "BooleanField" %}
							   		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
									
									<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
								{% else %}
									<div class="control-group">
										{% if field.is_hidden %}
										{% else %}
											<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
										{% endif %}							    
										<div class="controls">
									   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
								    			<label class="checkbox">
									   				{{ field }}
												</label>
								    		{% else %}
												{{ field }}
								    		{% endif %}
								    		<span class="help-inline">
												<div class="tooltipClass">
													<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
													<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
												</div>
											</span>
								    	</div>
									</div>
								{% endif %}
							{% endif %}
							<!-- comment section -->
						    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
								{% for comment_form in comment_formset %}
									{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
										{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
											<!-- if the field belongs to the form -->
											<!-- draw the comment-form -->
											{% for field in comment_form.hidden_fields %}
												{{ field }}
											{% endfor %}
											
											{% for field in comment_form.visible_fields %}
												<div class="control-group">
													{% if field.is_hidden %}
													{% else %}
														<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
													{% endif %}							    
													<div class="controls">
														{{ field }}
													</div>
												</div>
											{% endfor %}
											<!-- end of drawing -->
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					</fieldset>
				    
				    {% if forloop.counter|divisibleby:2 %}
						<br />
					{% endif %}
		    	{% endfor %}
			{% else %}
				<p>There are currently no other Impact Factors defined.</p>
				<br />
			{% endif %}		
		</div>
		
		<h2>Impact Level</h2>
		<hr />
		
		<div class="fields">
			{% for form in sectformset %}
				<fieldset>
					{% for field in form.hidden_fields %}
						{{ field }}
					{% endfor %}
					
					{% for field in form.visible_fields %}
						{% if field.errors %}
							<div class="control-group error">
							<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
								<div class="controls">
									{{ field }}
									<span class="help-inline">{{ field.errors.0 }}</span>
								</div>
							</div>
						{% else %}
					    	{% if field.field|klass == "BooleanField" %}
						   		<label class="checkbox">
									{{ field.label }}
									{{ field }}
								</label>
								
								<span class="help-inline">
									<div class="tooltipClass">
										<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
									</div>
								</span>
							{% else %}
								<div class="control-group">
									{% if field.is_hidden %}
									{% else %}
										<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
									{% endif %}							    
									<div class="controls">
								   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
							    			<label class="checkbox">
								   				{{ field }}
											</label>
							    		{% else %}
											{{ field }}
							    		{% endif %}
							    		<span class="help-inline">
											<div class="tooltipClass">
												<a href="#" data-toggle="tooltip" title="{% if field.help_text %}{{ field.help_text }}{% else %}No description available.{% endif %}"><i class="icon-question-sign"></i></a>
												<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
											</div>
										</span>
							    	</div>
								</div>
							{% endif %}
						{% endif %}
						
						<!-- comment section -->
					    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
							{% for comment_form in comment_formset %}
								{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
									{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
										<!-- if the field belongs to the form -->
										<!-- draw the comment-form -->
										{% for field in comment_form.hidden_fields %}
											{{ field }}
										{% endfor %}
										
										{% for field in comment_form.visible_fields %}
											<div class="control-group">
												{% if field.is_hidden %}
												{% else %}
													<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
												{% endif %}							    
												<div class="controls">
													{{ field }}
												</div>
											</div>
										{% endfor %}
										<!-- end of drawing -->
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}
				</fieldset>
			{% endfor %}
		</div>
		
		<hr />
		
   		<input class="btn btn-primary" type="submit" onClick="submitFormOkay=true;" value="Save" />
{% endblock %}