{% extends "overview_base_template.html" %}

{% block title %}Impact Factors{% endblock %}

{% block navigation %}
	<ul class="breadcrumb">
		<li><a href ="{% url bestpractice_add city_id=city.id bestpractice_id=bestpractice.id %}">{{ bestpractice.bp_name }}</a><span class="divider">/</span></li>
		<li><a href ="{% url bestpractice_description city_id=city.id bestpractice_id=bestpractice.id %}">Description Level</a><span class="divider">/</span></li>
		<li><a href ="{% url bestpractice_detail city_id=city.id bestpractice_id=bestpractice.id %}">Detail Level</a><span class="divider">/</span></li>
		<li><a href ="{% url bestpractice_impact city_id=city.id bestpractice_id=bestpractice.id %}">Impact Level</a><span class="divider">/</span></li>
		<li class="active">Impact Factors</li>
	</ul>
{% endblock %}

{% block listing %}	
	<h1>Impact Factors for {{ bestpractice }}</h1>
	
	<br />
	
	
	
	<form enctype="multipart/form-data" action="" method="post">{% csrf_token %} 
		{% for impactfactor in impactfactor_list %}
			<h3>{{ impactfactor.impact_factor_name }}</h3>
			
			<div id="del_emptydiv">
			</div>
			
			<p>
				{% if impactfactor.impact_factor_desc %}
					<strong>Description:</strong> {{ impactfactor.impact_factor_desc }}<br />
				{% endif %}
				
				<a class="btn btn-primary" href="{% url impactfactor_add city_id=city.id bestpractice_id=bestpractice.id impactfactor_id=impactfactor.id %}">Edit</a>
				<input class="btn" type="submit" onClick="deleteIf('{{ impactfactor.id }}')" value="Remove Connection" />
			</p>
			<hr />
		{% endfor %}
	    
	    <select name="impactfactors" class="selectpicker" multiple title="Select Impact Factors">
			{% for impactfactor in allother_impactfactors_list %}
				<option value="{{ impactfactor.id }}">{{ impactfactor }}</option>
			{% endfor %}
		</select>
		
		<br />
		<input class="btn btn-primary" type="submit" value="Add existing" />
	
		<input class="btn" type="button" onClick="location.href='{% url impactfactor_add city_id=city.id bestpractice_id=bestpractice.id %}'" value="Add new" />
	</form>
	
	{% if all_impactfactors_with_impact %}
		<br />
		<h2>Impact Factors with impact on {{ bestpractice }}</h2>
		<hr />
		
		<ul>
			{% for i in all_impactfactors_with_impact %}
		    	<li>{{ i }}</li>
		    {% endfor %}
    	</ul>
    {% endif %}
    
    <script type="text/javascript">
      window.onload=function(){
      	$('.selectpicker').selectpicker();
      };
      
      //add a hidden div that contains the id of the impactfactor that should be deleted in the view
      function deleteIf(id){
	  	document.getElementById("del_emptydiv").innerHTML = "<input type='hidden' name='delIf' id='del_"+id+"' value='"+id+"' />";
      }
    </script> 
{% endblock %}