{% extends "formular_base_template.html" %}
{% load custom_filters %}

{% block title %}Impact Factors{% endblock %}

{% block navigation %}
	<ul class="breadcrumb">
		<li><a href ="{% url bestpractice_add city_id=city.id bestpractice_id=bestpractice.id %}">{{ bestpractice.bp_name }}</a><span class="divider">/</span></li>
		<li><a href ="{% url bestpractice_description city_id=city.id bestpractice_id=bestpractice.id %}">Description Level</a><span class="divider">/</span></li>
		<li><a href ="{% url bestpractice_detail city_id=city.id bestpractice_id=bestpractice.id %}">Detail Level</a><span class="divider">/</span></li>
		<li><a href ="{% url bestpractice_impact city_id=city.id bestpractice_id=bestpractice.id %}">Impact Level</a><span class="divider">/</span></li>
		<li><a href = "{% url impactfactor city_id=city.id bestpractice_id=bestpractice.id %}">Impact Factors</a><span class="divider">/</span></li>
		
		{% if impactfactor.id %}
			<li class="active">{{ impactfactor.impact_factor_name }}<span class="divider">/</span></li>
			<li><a href = "{% url impactfactor_info city_id=city.id bestpractice_id=bestpractice.id impactfactor_id=impactfactor.id %}"> Information</a></li>
		{% else %}
			<li class="active">New Impact Factor</li>
		{% endif %}
	</ul>
{% endblock %}

{% block formular %}

	<h1>General Information</h1>

	<br />

  	<form enctype="multipart/form-data" action="" method="post">{% csrf_token %} 
  		{{ comment_formset.management_form }}
		
		<div style="display:none">
			{% for form in comment_formset %}
				{{ form.id }}
			{% endfor %}
		</div>
		
		{% if form.errors %}
			<p class="text-error">Please correct the Errors below!</p>	
		{% endif %}
		
		<div class="fields">
	    	<fieldset>
				{% for field in form.hidden_fields %}
					{{ field }}
				{% endfor %}
				
				{% for field in form.visible_fields %}
					{% if field.errors %}
						<div class="control-group error">
						<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
							<div class="controls">
								{{ field }}
								<span class="help-inline">{{ field.errors.0 }}</span>
							</div>
						</div>
						
						{% if field.name == 'impact_factor_category_id' %}
							<button class="btn" type="button" onClick="$('#categoryModal').modal('show');">Add new Category</button>
							<br /><br />
						{% endif %}
					{% else %}
				    	{% if field.field|klass == "BooleanField" %}
					   		<label class="checkbox">
								{{ field.label }}
								{{ field }}
							</label>
							
							<span class="help-inline">
								<div class="tooltipClass">
									<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
								</div>
							</span>
						{% else %}
							<div class="control-group">
								{% if field.is_hidden %}
								{% else %}
									<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
								{% endif %}							    
								<div class="controls">
							   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
						    			<label class="checkbox">
							   				{{ field }}
										</label>
						    		{% else %}
										{{ field }}
						    		{% endif %}
						    		<span class="help-inline">
										<div class="tooltipClass">
											<a href="#" rel="popover" data-toggle="tooltip" title="Add a comment or source"><i class="icon-chevron-down" data-toggle="collapse" data-target="#collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" onClick='commentButtonPressed(this, "{{field.name}}", "{{form.instance.id}}", "{{ form.instance|to_class_name}}");'></i></a>
										</div>
									</span>
						    	</div>
								{% if field.name == 'impact_factor_category_id' %}
									<button class="btn" type="button" onClick="$('#categoryModal').modal('show');">Add new Category</button>
									<br /><br />
								{% endif %}
								
							</div>
						{% endif %}
					{% endif %}

					<!-- comment section -->
				    <div id="collapse_{{form.instance.id}}_{{field.name}}_{{form.instance|to_class_name}}" class="collapse">
						{% for comment_form in comment_formset %}
							{% if comment_form.instance.table_id == form.instance.id or comment_form.instance.table_id == -1 %}
								{% if comment_form.instance.table_field == field.name and comment_form.instance.table_name == form.instance|to_class_name %}
									<!-- if the field belongs to the form -->
									<!-- draw the comment-form -->
									{% for field in comment_form.hidden_fields %}
										{{ field }}
									{% endfor %}
									
									{% for field in comment_form.visible_fields %}
										<div class="control-group">
											{% if field.is_hidden %}
											{% else %}
												<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
											{% endif %}							    
											<div class="controls">
												{{ field }}
											</div>
										</div>
									{% endfor %}
									<!-- end of drawing -->
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
			</fieldset>
		</div>		
		
		<hr />
			
	   	<input name="Save and Continue" class="btn btn-primary" type="submit" onClick="submitFormOkay=true;" value="Save and Continue" />
	   	<input class="btn" type="submit" onClick="submitFormOkay=true;" value="Save" />
{% endblock %}


{% block other_content %}
	<form enctype="multipart/form-data" action="" method="post">{% csrf_token %} 
		{% if category_form.errors %}
			<p class="text-error">Please correct the Errors below!</p>	
		{% endif %}
		
		<div id="categoryFormSave"></div>
		
		<div id="categoryModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="myModalLabel">Create new Category</h3>
			</div>
			
			<div class="modal-body">
				<div class="fields">
			    	<fieldset>
						{% for field in category_form.hidden_fields %}
							{{ field }}
						{% endfor %}
						
						{% for field in category_form.visible_fields %}
							{% if field.errors %}
								<div class="control-group error">
								<label class="control-label" for="{{ field.name }}">{{ field.name }}</label>
									<div class="controls">
										{{ field }}
										<span class="help-inline">{{ field.errors.0 }}</span>
									</div>
								</div>
							{% else %}
						    	{% if field.field|klass == "BooleanField" %}
							   		<label class="checkbox">
										{{ field.label }}
										{{ field }}
									</label>
								{% else %}
									<div class="control-group">
										{% if field.is_hidden %}
										{% else %}
											<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
										{% endif %}							    
										<div class="controls">
									   		{% if field.field.widget|klass == "CheckboxSelectMultiple" %}
								    			<label class="checkbox">
									   				{{ field }}
												</label>
								    		{% else %}
												{{ field }}
								    		{% endif %}
								    	</div>
									</div>
								{% endif %}
							{% endif %}
						{% endfor %}
					</fieldset>
				</div>		
			</div>
			
			<div class="modal-footer">
				<button class="btn"  data-dismiss="modal">Close without saving</button>
				<button class="btn btn-primary" type="submit" onClick="categoryFormSave()" data-dismiss="modal" aria-hidden="true" id="modalSave">Save</button>
			</div>
		</div>
		
		<!-- empty div, that is used in hidden field script below -->
	</form>
	
	<script>
		//adds a hidden field to the form, that is used in the view
		//to find out if save of the category_form was pushed
		function categoryFormSave(){
			document.getElementById('categoryFormSave').innerHTML="<input type='hidden' name='categoryFormSaved' value='true'>"
		}
	</script>
{% endblock %}