{% extends "base_form_template.html" %}

{% block title %}m:ci Permission denied{% endblock %}

{% block content %}
	<br />
	<h1>Permission denied</h1>
	<hr />
	<p>We're sorry, but you don't have the permission to enter the page you requested.</p>
	<p>If you need the permission to enter the page, contact us <a href="mailto:tobias.hauck@iao.fraunhofer.de">here</a>.</p>
	<p>If you were looking for our Partners-page, you can follow this <a href="{% url partner %}">link</a> to get there.</p>
{% endblock %}